.cycles {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}

.cycleDots {
  display: flex;
  gap: 0.8rem;
}

.cycleDot {
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: var(--primary);
  border-radius: 50%;
}

.cycleDot:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.workTime {
  background-color: var(--warning);
}

.shortBreakTime {
  background-color: var(--primary);
}

.longBreakTime {
  background-color: var(--info);
}